<p id="notice"><%= notice %></p>

<div class="pure-g">
<div class="pure-u-1-5">
</div>
<div class="pure-u-3-5">
<h1 id="header">Upcoming Events</h1>
<ul style="list-style-type: none">
  <% @upcoming_events.each do |event| %>
    <li><h4><%= link_to event.title, event %> - <%= event.starts.strftime('%d %B') %><h4></li>
  <% end %>

  <br>
  <%= button_to "New Event", new_event_path, method: :get, class: "pure-button pure-button-primary" %>
    
</div>
</div>
